body {
    background-image:url(https://media.tenor.com/frOcV2JCvgsAAAAi/hatsune-miku-anime.gif);
    background-repeat:repeat;
    background-color:rgb(255, 255, 255);
    background-position:center top;
    color:rgb(0, 0, 0);
    font-family: serif;
    font-size:18px;
    font-weight:bold;
}
h1 {
    font-weight:bold;
    font-style:italic;
    text-shadow: 2px 2px 4px #000000;
    text-transform:uppercase;
    letter-spacing: 150px;
    }
p { background-color: rgba(255, 255, 255, 0.548);
      text-decoration:line-through overline underline;
      line-height:50px;
    }
li { 
    color:#1100ff;
}